<h1 class="globe-header">Map Dev Tests(no design, they ugly)</h1>

<p class="globe-header">simple globe</p>
<div class="earth_wrapper">
  <div id="earth_div" class="earth_div"></div>
</div>

<p class="globe-header">globe with popups</p>
<div class="earth_wrapper">
  <div id="earth_div_2" class="earth_div"></div>
</div>

<p class="globe-header">globe with draggable polygon</p>
<div class="earth_wrapper">
  <div id="earth_div_3" class="earth_div"></div>
</div>
